body{
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
    background:white;
}

header{
    background: #333;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.baslık1{
    background: lightcoral;
    color: black;
}

.baslık2{
    background: rgb(156, 236, 156);
    color: black;
}

.baslık3{
    background: rgb(245, 230, 102);
    color: black;
}

.içerik{
    background: white;
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

li{
    margin-bottom: 10px; 
}

a {
    text-decoration: underline;
    color: blue;
    transition: 0.3s ease;
}

a:hover {
    color: darkred;
}